img{

    padding: 10px;
}
img.brd-radius{
    border-radius:  18px;
}
#about img{
    margin-right: 100px;
}
#portfolio img{
    margin-right: 40px;
}

#img_topleft,
#img_medleft,
#img_botleft,
#img_topright,
#img_medright,
#img_botright,
#img_centre{
    position:absolute;
}

#img_topleft{
    left: 100px;
    top: 188px;
}
#img_medleft{
    left: 212px;
    top: 358px;
}
#img_botleft{
    left: 110px;
    top: 543px;}
#img_topright{
    left: 1061px;
    top: 187px;}
#img_medright{
    left: 962px;
    top: 333px;}
#img_botright{
    left: 1047px;
    top: 534px;}
#img_centre{
    left: 537px;
    top: 278px;
}
#ellipse_under_img{
    position: absolute;
    width: 266px;
    height: 266px;
    left: 576px;
    top: 3000px;
    background: linear-gradient(180deg, rgba(65, 88, 208, 0.2) 0%, rgba(200, 80, 192, 0.2) 52.84%, rgba(255, 204, 112, 0.2) 100%);
    filter: blur(35px);
}