.nav {
    background-color: rgba(255, 255, 255, 0);
    overflow: hidden;
}
.nav a ,
.brand{
    float: left;
    padding: 14px 16px;
}
.nav a{
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    text-align: center;
    text-decoration: none;
color: var(--black-l);
}
.nav a:hover {
    color: var(--black-l);
    /*font-weight: 600;*/
}
.nav a.active {
    color: var(--blue);
    font-weight: 600;
}
.nav-right {
    float: right;
}