button{
    border:none;
    font-style: normal;
}
a{
    text-decoration: none;
    font-style: normal;
}
#content button{
    background: var(--blue);
    border-radius: 15px;
    color:var( --white);
    width: 163px;
    height: 49px;
}
#getItTouch button{
    margin:125px 209px 126px 30px;
    width: 164px;
    height: 49px;
    line-height: 22px;
    background: var( --white);
    border-radius: 12px;
    letter-spacing: 0.02em;
    color: var(--blue);
}
#about button{
    width: 154px;
    height: 49px;
    color: var( --white);
    background: var(--blue);
    border-radius: 15px;

}
#portfolio a{
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    align-items: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--blue);
}
