.copy-color{
    position: fixed;
    width: 140%;
    height: 100%;

    top:0;
    left: -20%;
    background-color: #ffffff;
    z-index: 200;

    text-align: center;
    transition: opacity .4s;
    opacity: 0;
    pointer-events: none;
}
.copy-color.entering{
    opacity:1;
}
.copy-color.entered{
    animation: show-copied .2s forwards;
}
.copy-color.exiting{
    animation: show-copied .2s forwards;
}
.copy-color.exited{
    opacity:0;
    }
@keyframes show-copied {
    0% {
        opacity: 0;
    }
    100% {
        opacity:1;
    }
}

.copy-color .title {
    font-size: 120px;
    height: 120px;
    line-height: 110px;
    color: #ecf0f1;
    top: 50%;
    margin-top: -120px;
    text-shadow: 2px 2px #2c3e50;
    background: hsla(0, 0%, 100%, .2);
    padding: 30px 0;
    position: absolute;
    width: 100%;

}
.copy-color .title span{
    top: 50%;
    text-shadow: 1px 1px #444;
    height: 60px;
    margin-top: 120px;
    position: absolute;
    color: #ecf0f1;
    display: block;
    width: 100%;
    font-size: 32px;
}

